# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AI_ML_Project\Jarvis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
